body {
    font-family: arial, sans-serif;
}

h1 {
    color: #7c7c7c;
    font-size: 24px;
    font-weight: 100;
    margin: 0;
}

ul {
    margin: 0 0 10px;
    padding: 0;
}

li {
    list-style: none;
    color: gray;
    font-size: 18px;
    font-weight: 100;
    height: 20px;
}

.searchForm {
    margin-bottom: 20px;
}

.search {
    border-radius: 10px;
    border: 1px solid rgb(68, 139, 185);
}

.submit {
    border-radius: 10px;
    border: 1px solid rgb(68, 139, 185);
}

.container {
    border: 1px solid pink;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
}

.weather-icon {
    font-size: 50px;
}

.temperature {
    font-size: 64px;
    font-weight: 400;
}

.units {
    /* text-decoration: none; */
    position: relative;
    top: -25px;
}

.units a {
    text-decoration: none;
}

.source {
    text-align: center;
}

.source a {
    text-decoration: none;
}